@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans.woff2') format('woff2'),
       url('fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
       url('fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Light.woff2') format('woff2'),
       url('fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/*@font-face {
  font-family: '';
  src: url('.woff2') format('woff2'),
       url('.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: -0.2px;
  font-weight: 300;
  color: #464646;	
}

 /* Временно для сетки */
	body{
	  background-image: url('../device-catalog.jpg');
	  background-size: 1440px auto;
	  background-position-x: 50%;
	  background-position-y: -20px;
	  background-repeat: no-repeat;
	  min-width: 1160px;
	  /*background-attachment: fixed;*/
	}

a{
	text-decoration: none;
	word-wrap: break-word;
}

ul{
	list-style: none;
	padding-left: 0px;
}

/*стили в хедере*/
.logo-img:hover,
.logo-img:focus{
	opacity: 0.6;
}

.logo-img:active{
	opacity: 0.3;
}

/*доделать инпут*/
.search-text{
	width: 100%;
	padding-left: 36px;
 	border: none;
 	background: none;
 	font-weight: 300;
  	line-height: 1;
  	letter-spacing: 0.15px;
}

.search-text::placeholder{
    color: rgba(0, 0, 0, 0.3);
}

.search-text:hover::placeholder{
	 color: rgba(0, 0, 0, 0.6);
}

.search-text:focus,
.search-text:active{
	color: rgba(0, 0, 0, 1);
  	outline: none;
  	border-bottom:  2px solid #000000;
  	 margin-bottom: -2px; 
}

.search-text:focus ~ .search-submit,
.search-submit:active{
	opacity: 1;
}

.search-submit:active .search-text{
	border-bottom:  2px solid #000000;
  	 margin-bottom: -2px;
}

.form-search{
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex-start;
	width: 380px;
}

.magnifier{
	display: block;
	position: absolute;
	/*почему вариант ниже не сработал?*/
   	/*content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M15.7 14.3l-3.104-3.104A6.979 6.979 0 0 0 14 7a7 7 0 1 0-7 7 6.963 6.963 0 0 0 4.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 0 0 1-1 .93.93 0 0 0-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z"/></svg>");*/
   	background: url("../img/icon/search.svg") no-repeat;
   	height: 16px;
   	width: 16px;
   	left: 3px;  
   	top: 0; 
   	bottom: 0;
   	margin: auto 0; 
}

.search-submit{
	color: #000000;
	background: none;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #000000;
	border: none;
	padding: 15px;
	margin-left: auto;
	opacity: 0;
}

.search-submit:hover{
	color: #ffffff;
	background-color: #000000;
}

.search-submit:active{
	color: rgba(255, 255, 255, 0.3);
}

.authorization-button:hover,
.authorization-button:focus,
.account-button:hover,
.account-button:focus{
   opacity: 0.6;
}

.authorization-button:active,
.account-button:active{
   opacity: 0.3;
}

.authorization-icon::before{
	display: inline;
	content: url("../img/icon/user.svg");
   	height: 13px;
   	width: 12px;
   	padding-right: 12px;
}		

.authorization-icon:hover:before,
.authorization-icon:focus:before{
	opacity: 0.6;
}

.authorization-icon:active:before{
	opacity: 0.3;
}		

.account-button{
	letter-spacing: -0.2px;
	padding-right: 16px;
}

.navigation-head-top a{
	color: rgb(0, 0, 0);
}

header .compare-button::before{
	display: inline;
	/*почему вариант ниже не сработал?*/
   	/*content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M15.7 14.3l-3.104-3.104A6.979 6.979 0 0 0 14 7a7 7 0 1 0-7 7 6.963 6.963 0 0 0 4.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 0 0 1-1 .93.93 0 0 0-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z"/></svg>");*/
   	content: url("../img/icon/compare.svg");
   	height: 10px;
   	width: 10px;
   	padding-right: 10px;
}

header .compare-button:hover:before,
header .compare-button:focus:before{
	opacity: 0.6;
}

header .compare-button:active:before{
	opacity: 0.3;
}		

header .compare-button:hover,
header .compare-button:focus{
    opacity: 0.6;
}

header .compare-button:active{
	color: rgba(0, 0, 0, 0.3);
}

header .basket-button::before{
	display: inline;
	/*почему вариант ниже не сработал?*/
   	/*content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M15.7 14.3l-3.104-3.104A6.979 6.979 0 0 0 14 7a7 7 0 1 0-7 7 6.963 6.963 0 0 0 4.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 0 0 1-1 .93.93 0 0 0-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z"/></svg>");*/
   	content: url("../img/icon/cart.svg");
   	height: 12px;
   	width: 12px;
   	padding-right: 12px;
}

header .basket-button:hover:before,
header .basket-button:focus:before{
	opacity: 0.6;
}

header .basket-button:active:before{
	opacity: 0.3;
}		

header .basket-button:hover,
header .basket-button:focus{
    color: rgba(0, 0, 0, 0.6);
}

header .basket-button:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-header-border{
	background-color: rgba(240, 197, 46, 0.5);
}

.main-header-border::before{
	z-index: 1;
	content: "";
	display: block;
	position: absolute;
	width: 1160px;
	height: 34px; 
	top: 40px;
	background-color: rgba(240, 197, 46, 0.5);
	margin: 0 auto;
}

.section-showcase::before{
	z-index: -1;
	content: "";
	display: block;
	position: absolute;
	width: 1160px;
	height:110px; 
	background-color: rgba(240, 197, 46, 0.5);
	margin: 0 auto;
}

.catalog-button{
	background-color: transparent;
  	border: none;
  	padding: 0;

	font-family: "Gilroy", "Arial Black", sans-serif;
	letter-spacing: 3.4px;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	color: #000000;
}

.catalog-button:hover,
.catalog-button:focus{
	opacity: 0.6;
}

.catalog-button:active{
	opacity: 0.3;
}

.catalog-button:after{
	display: inline;
	content: url("../img/icon/plus.svg");
	opacity: 0.3;
   	height: 16px;
   	width: 16px;
   	padding-left: 12px;
   	vertical-align: middle;
}

.catalog-nav-full:hover .navigation-catalog-full{
	display: flex;
}

.navigation-head-bottom a{
	background-color: transparent;
  	border: none;
  	padding: 0;

	font-family: "Gilroy", "Arial Black", sans-serif;
	letter-spacing: 3.4px;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	color: #000000;
}

.navigation-head-bottom a:hover{
	opacity: 0.6;
}

.navigation-head-bottom a:active{
	opacity: 0.3;
}

.navigation-catalog-hidden a{
	  font-size: 15px;
	  font-weight: 300;
	  letter-spacing: 0.15px;
	  font-stretch: normal;
	  font-style: normal;
	  color: #000000;
}

.navigation-catalog-hidden a:hover,
.navigation-catalog-hidden a:focus{
	opacity: 0.6;
}

.navigation-catalog-hidden a:active{
	opacity: 0.3;
}	

.site-body{
	position: relative;
	z-index: 10;
}

.slider-description h2{
	min-height: 110px;
	margin: 0 0 22px 0;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.2;
  	letter-spacing: 0.7px;
	color: #000000;
	word-wrap: break-word;
}

.slider-description p{
	max-width: 490px;
	margin: 0 0 50px 0;

	word-wrap: break-word;
}

.slider-description::before{
	content: "";
	display: block;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
	margin: 35px 0; 
}

.slider-parameters b{
	display: block;
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 36px;
  	font-weight: 300;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 0.36px;
}

.slider-parameters small{
	font-family: "OpenSans", "Arial", sans-serif;
	color: #464646;
  	font-size: 13px;
  	font-weight: 300;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.54;
  	letter-spacing: 0.13px;	
}

.button-more-details{
	position: relative;
	padding: 0 41px;

	text-align: center;
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;
}

.button-more-details:before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 5px;
	width: 100%;
	left: 0px;
	top: 0; 
	bottom: 0;
	background-color: #f0c52e; 
	margin: auto;
}

.button-more-details:hover:before{
	height: 100%;
	padding: 5px 0;
}

.button-more-details:active{
	color: rgba(0, 0, 0, 0.3);
}	

.popular-element{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 18px;
  	font-weight: 800;
  	letter-spacing: 0.18px;
  	line-height: 1.3;
  	text-align: left;
  	color: #000000;
}

.popular-element span{
	display: flex;
	width: 160px;
	height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
	margin-bottom: 33px;

	align-items: center;
	justify-content: center;
}

.popular-element p{
	width: 100px;
	word-wrap: normal;
}

.vr span:before{
	content: url("../img/icon/popular-1.svg");
	width: 97px;
	height: 55px;
	padding-bottom: 5px;
}

.monopod span:before{
	content: url("../img/icon/popular-2.svg");
	width: 86px;
	height: 117px;
	align-self: flex-end;
	padding-bottom: 5px;
}

.action-cam span:before{
	content: url("../img/icon/popular-3.svg");
	width: 71px;
	height: 87px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.fitnes span:before{
	content: url("../img/icon/popular-4.svg");
	width: 107px;
	height: 65px;
}

.watch span:before{
	content: url("../img/icon/popular-5.svg");
	width: 56px;
	height: 98px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.quadrocopter span:before{
	content: url("../img/icon/popular-6.svg");
	width: 132px;
	height: 86px;
	padding-top: 18px;
}

a.popular-element:hover span{
	background-color: #f0c52e;
}

a.popular-element:active{
	opacity: 0.3;
}

a.popular-element:active span:before{
	opacity: 0.3;
}

.section-service:after{
	z-index: -2;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 290px;
	width: 100%;
	min-width: 1160px;
	background-color: #e5e5e5;
	margin-top: 100px; 
}

.slider-control-service{
	border-right: 7px solid #000000;
}

.slider-control-service li{
	display: flex;
	height: 40px;
	margin-bottom: 43px;
	flex-direction: column;
	align-content: center;
}

.slider-control-service button{
	display: block;
	width: 160px;
	position: relative;
	padding: 0 11px;
	border: none;
	background-color: unset;

	text-align: center;
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;
}

.slider-control-service button:before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 5px;
	width: 100%;
	left: 0;
	top: 0; 
	bottom: 0;
	background-color: #f0c52e; 
	margin: auto;
}
.slider-control-service button:active:before{
	background-color: #000000; 
}
.slider-control-service button:active:after{
	z-index: -1;
	content: "";
	position: absolute;
	height: 100%;
	width: 280px;
	padding: 5px 0;
	left: 0;
	top: 0; 
	bottom: 0;
	background-color: #000000; 
	margin: auto;
}

.slider-control-service .active:after{
	z-index: -1;
	content: "";
	position: absolute;
	height: 100%;
	width: 280px;
	padding: 5px 0;
	left: 0;
	top: 0; 
	bottom: 0;
	background-color: #000000; 
	margin: auto;
}

.slider-control-service .active{
	color: #f0c52e;
}

.slider-control-service button:hover:before{
	height: 100%;
	padding: 5px 0;
}

.slider-control-service button:active{
	color: #f0c52e;
}

.slider-service h3{
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
  	font-size: 48px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.02;
  	letter-spacing: 0.47px;
}

.layout-slider-item:after{
	position: absolute;
	right: -230px;
    top: 85px;
}

.slider-service-1:after{
	content: url("../img/icon/delivery.svg");
}

.slider-service-2:after{
	content: url("../img/icon/warranty.svg");
}

.slider-service-3:after{
	content: url("../img/icon/credit.svg");
}

.section-partners img{
	display: none;
}

.section-partners li:nth-child(1) a:before{
	content: url("../img/partners/dji.png");
	width: 260px;
	height: 100px;
}

.section-partners li:nth-child(2) a:before{
	content: url("../img/partners/sp.png");
	width: 260px;
	height: 100px;
}

.section-partners li:nth-child(3) a:before{
	content: url("../img/partners/gopro.png");
	width: 260px;
	height: 100px;
}

.section-partners li:nth-child(4) a:before{
	content: url("../img/partners/vive.png");
	width: 260px;
	height: 100px;
}

.section-partners a:hover img{
	display: inline;
}

.section-partners a:hover:before{
	display: none;
}

.section-partners-items a{
	display: block;
	width: 260px;
	height: 100px;
}

.section-partners-items img{
	width: 100%;
	height: auto;
}

.section-about h2{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1;
  	letter-spacing: 0.47px;
 	color: #000000;
}

.section-contacts h2{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1;
  	letter-spacing: 0.47px;
 	color: #000000;
}

ul.about-list{
	padding-left: 20px;
	list-style-position:outside;
	list-style-image: url("../img/icon/slider-button-about.svg");
	text-indent: 15px;
}

.about-list li{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 16px;
  	font-weight: 800;
  	letter-spacing: 0.1px;
  	color: #000000;
 	line-height: 30px;
}

.section-contacts h2{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1.02;
  	letter-spacing: 0.47px;
 	color: #000000;
}
.about-button{
	position: relative;
	text-align: center;
	padding: 0 22px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;
}

.about-button:before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 8px;
	width: 100%; 
	left: 0px;
	top: 0; 
	bottom: 0;
	margin: auto;
	background-color: #f0c52e;
}

.about-button:hover:before{
	height: 40px;
}

.about-button:active{
	color: rgba(0, 0, 0, 0.3);
}	

.write-button{
	position: relative;
	text-align: center;
	padding: 0 38px;
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;
}

.write-button:before {
	z-index: -1;
	content: "";
	height: 8px;
	width: 100%; 
	position: absolute;
	left: 0px;
	top: 0; 
	bottom: 0;
	margin: auto;
	background-color: #f0c52e;
}

.write-button:hover:before{
	height: 40px;
}

.write-button:active{
	color: rgba(0, 0, 0, 0.3);
}	

.authorization-footer a{
	opacity: 0.7;
  	font-size: 15px;
  	font-weight: 300;
  	letter-spacing: -0.1px;
  	color: rgba(255, 255, 255, 0.7);
}

.authorization-footer .authorization-button{
	color: rgba(255, 255, 255, 0.3); 
}

footer .compare-button:hover:before,
footer .compare-button:focus:before{
	opacity: 0.6;
}

footer .compare-button:active:before{
	opacity: 0.3;
}		

footer .compare-button:hover,
footer .compare-button:focus{
    color: rgba(0, 0, 0, 0.6);
}

footer .compare-button:active{
	color: rgba(0, 0, 0, 0.3);
}

footer .authorization-icon::before{
	display: inline;
   	content: url("../img/icon/user-yellow.svg");
   	height: 10px;
   	width: 10px;
   	padding-right: 15px;
}

footer .compare-button::before{
	display: inline;
   	content: url("../img/icon/compare-yellow.svg");
   	height: 10px;
   	width: 10px;
   	padding-right: 10px;
}

footer .basket-button::before{
	display: inline;
	content: url("../img/icon/cart-yellow.svg");
   	height: 12px;
   	width: 12px;
   	padding-right: 12px;
}

.rows-contacts p{
	color: #ffffff;
	word-wrap: break-word;
}

.rows-contacts a{
	color: #ffffff;
}

.rows-contacts a:hover{
	opacity: 0.6;
}

.rows-contacts a:active{
	opacity: 0.3;
}

.rows-contacts .address{
	letter-spacing: -0.3px;
}

.rows-contacts .phone{
	letter-spacing: -0.1px;
}

footer .delivery-button{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 18px;
  	font-weight: 800;
  	letter-spacing: 3.6px;
  	color: #ffffff;
  	text-transform: uppercase;
}

footer .warranty-button{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 18px;
  	font-weight: 800;
  	letter-spacing: 3.6px;
  	color: #ffffff;
  	text-transform: uppercase;
}

footer .contacts-button{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 18px;
  	font-weight: 800;
  	letter-spacing: 3.6px;
  	color: #ffffff;
  	text-transform: uppercase;
}

.facebook{
	font-size: 0; 
}

.facebook::before{
	content: url("../img/social/facebook.svg");
	opacity: 0.3;
	width: 100px;
	height: 100px;
}

.facebook:hover:before{
	opacity: 0.6;
}

.facebook:active:before{
	opacity: 0.1;
}

.instagram{
	font-size: 0; 
}

.instagram::before{
	content: url("../img/social/instagram.svg");
	opacity: 0.3;
	width: 100px;
	height: 100px;
}

.instagram:hover:before{
	opacity: 0.6;
}

.instagram:active:before{
	opacity: 0.1;
}

.twitter{
	font-size: 0; 
}

.twitter::before{
	content: url("../img/social/twitter.svg");
	opacity: 0.3;
	width: 100px;
	height: 100px;
}

.twitter:hover:before{
	opacity: 0.6;
}

.twitter:active:before{
	opacity: 0.1;
}

.twitter::before{
	content: url("../img/social/twitter.svg");
	opacity: 0.3;
	width: 100px;
	height: 100px;
}

.twitter:hover:before{
	opacity: 0.6;
}

.twitter:active:before{
	opacity: 0.1;
}

.logo-htmlacademy:hover{
	opacity: 0.6;
}

.logo-htmlacademy:active{
	opacity: 0.3;
}

.rows-links::before{
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 16px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}


/*дизайн модального окна*/

fieldset{
	border: none;
}

.modal-mail{
	position: relative;
	width: 760px;
	padding-top: 90px;
	padding-bottom: 35px;
	padding-left: 100px;
	padding-right: 100px;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
	background-color: white;
}

.modal-mail legend{
	display: none;
}

.data-mail label{
	display: block;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 18px;
  	font-weight: 800;
  	color: #000000;	
}

.data-mail input{
	width: 320px;
	padding: 20px 20px;
	border:none;
	background: #f2f2f2;

	font-size: 14px;
	color: #464646;
	line-height: 1.29;
}

.data-mail input:hover{
	background-color: #eaeaea;
}


.data-mail input:focus,
.data-mail input:active{
  	outline: solid 2px #f0c52e;
  	background-color: #ffffff;

  	font-size: 14px;
  	line-height: 1.29;
  	color: #464646;
}

.data-mail input:placeholder{
    opacity: 0.4;
  	font-family: "OpenSans", "Arial", sans-serif;
  	font-size: 14px;
  	line-height: 1.29;
  	letter-spacing: normal;
  	color: rgba(70, 70, 70, 0.4);
}

.data-mail textarea{
	padding: 20px 20px;
	border:none;
	background: #f2f2f2;

	font-size: 14px;
	color: #464646;
	line-height: 1.29;
	resize: none;
}

.data-mail textarea:hover{
	background-color: #eaeaea;
}


.data-mail textarea:focus,
.data-mail textarea:active{
  	outline: solid 2px #f0c52e;
  	background-color: #ffffff;

  	font-size: 14px;
  	line-height: 1.29;
  	color: #464646;
}

.data-mail textarea:placeholder{
    opacity: 0.4;
  	font-family: "OpenSans", "Arial", sans-serif;
  	font-size: 14px;
  	line-height: 1.29;
  	letter-spacing: normal;
  	color: rgba(70, 70, 70, 0.4);
}

.modal-mail .btn-action-yellow{
	position: relative;
	border: none;
	padding: 0 30px;
	background-color: rgba(0, 0, 0, 0);

	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;
}

.modal-mail .btn-action-yellow:before {
	z-index: -1;
	content: "";
	height: 5px;
	width: 100%;
	display: block;
	position: absolute;
	left: 0;  
	top: 0; 
	bottom: 0; 
	margin: auto;
	background-color: #f0c52e; 
}

.modal-mail .btn-action-yellow:hover:before{
	height: 40px;
	cursor: pointer;
}

.modal-mail .btn-action-yellow:active{
	color: rgba(0, 0, 0, 0.3);
}

.modal-close{
	font-size: 0;
	border: 0;
	background-color: inherit;
}

.modal-close:before{
	content: url("../img/icon/modal-close.svg");
	position: absolute;
	width: 55px;
	height: 55px;
	top: 20px;
    right: 20px;
	opacity: 0.5;
}

.modal-close:hover:before{
	opacity: 1;
}

.modal-close:active{
	outline: none;
}

.modal-close:focus{
	outline: 0;
	opacity: 1;
}

.modal-close:active:before{
	opacity: 0.3;
}

.map{
	cursor: pointer;
}

.modal-map{
	z-index: 11;
	display: block;
	position: fixed;
	width: 960px;
  	height: 559px;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
	top: 25%;
	left:50%;
	margin-left: -480px;
}

.modal-map img{
	width: 100%;
	height: 100%;
}

.section-contacts::before{
	content: "";
	display: block;
	width: 80px;
	height: 7px;
	background-color: black;
}

.section-about::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background-color: black;
}

/*разметка модальных окон*/
.layout-modal-mail{
	position: fixed;
	z-index: 11;
	top: 25%;
  	left: 50%;
  	margin-left: -480px;
}
.layout-data-mail{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 30px;
}

.layout-data-mail label{ 
	width: 360px; 
	display: flex; 
	flex-direction: column;
	margin-bottom: 20px;
}

.layout-data-mail input:invalid{
	 background-color: #f6dada;
}

.modal-textarea-name-label{
	flex-grow: 1;
}

.container {
	box-sizing: border-box;
  	width: 1160px;
  	margin: 0 auto;
}

.main-header{
	z-index: 1;
	min-height: 200px; 
}

.layout-header-logo {
	z-index: 10;
	position: relative;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	margin-bottom: 10px; 
}

.layout-navigation-head-top {
	margin: 0 60px;
	margin-bottom: 25px;
}

.layout-navigation-head-bottom{
	margin: 0 60px;
	padding-bottom: 45px;
}

.navigation-head-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin:0;
}

.navigation-head-top li:nth-child(1){
	width: 540px;
}
.navigation-head-top li:nth-child(2){
	width: 285px;
}
.navigation-head-top li:nth-child(3){
	width: 130px;
}
.navigation-head-top li:nth-child(4){
	width: 85px;
}

.navigation-head-bottom{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.navigation-head-bottom > li:nth-child(1){
	width: 540px;
}
.navigation-head-bottom > li:nth-child(2){
	width: 160px;
}
.navigation-head-bottom > li:nth-child(3){
	width: 219px;
}
.navigation-head-bottom > li:nth-child(4){
	width: 121px;
}

.navigation-catalog-full{
	z-index: 11;
	position: absolute;
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	flex-basis: 100px;
	align-items: baseline;
	background-color: #f7e296; 
	margin-left: -60px;
	padding: 0 60px; 
	padding-top: 20px ;
	padding-bottom: 48px ;
}
.navigation-catalog-full a{
	text-transform: none;
}

.navigation-catalog-full ul{
	display: flex;
	height: 90px;
	flex-direction: column;
	flex-basis: 30px;
}

.navigation-catalog-full > li:nth-child(1){
	flex-grow: unset;
	padding-right: 50px;
}
.navigation-catalog-full > li:nth-child(2){
	flex-grow: unset;
	padding-right: 65px;
}
.navigation-catalog-full > li:nth-child(3){
	flex-grow: unset;
}

.navigation-catalog-item li{
	padding-bottom: 5px;
}

.section-showcase{
	position: relative;
	margin-bottom: 110px;
	min-height: 486px;
}

.layout-slider{
	/*padding: 0 60px 0 0;*/
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex-end;
}

.layout-slider-img-box{
	display: flex;
	width: 560px;
	justify-content: center;
	margin-right: 40px;
/*	flex-grow: 8;*/
}

.layout-slider-description-box{
	/*flex-grow: 1;*/
	width: 560px;
}

.layout-slider-parameters{
	margin-top: 55px;
	max-width: 430px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.layout-slider-parameters li{
	width: 160px; 
}

.layout-slider-parameters li:not(:last-child){
	margin-right: 10px; 
}

.slider-control-showcase{
	display: block;
	position: absolute;
	top: 328px;
	right: 83px;
	width: 78px;
	display: flex;
	justify-content: space-between;
}

.control-button{
	display: block;
	width: 12px;
	height: 12px;
	background: url("../img/icon/slider-button-empty.svg") no-repeat 50% 50%;
	background-size: 100%;

	font-size: 0;
}

.control-button.active{
	background: url("../img/icon/slider-button.svg") no-repeat 50% 50%;
	background-size: 100%;
}

.slider-showcase-1:before{
	z-index: -1;
	content: "01";
	position: absolute;
	right: 50px;
	top: -10px;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 179px;
  	font-weight: 800;
	color: #ffffff;
	line-height: 1;
}

.slider-showcase-2:before{
	z-index: -1;
	content: "02";
	position: absolute;
	right: 50px;
	top: -10px;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 179px;
  	font-weight: 800;
	color: #ffffff;
	line-height: 1;
}

.slider-showcase-3:before{
	z-index: -1;
	content: "03";
	position: absolute;
	right: 50px;
	top: -10px;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 179px;
  	font-weight: 800;
	color: #ffffff;
	line-height: 1;
}

.slider-showcase-3 img{
	margin-top: 60px;
}

.layout-popular{
	margin-bottom: 80px;
}

.layout-popular-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.layout-popular-item li{
	display: flex;
	max-width: 160px; 
}

.layout-section-service{
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-bottom: 165px;
}

.layout-slider-control-service{
	display: flex;
	width: 280px;
	height: 153px;
	margin-right: 115px;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 86px;
	padding-bottom: 80px;
}

.layout-slider-item{
	padding-top: 75px;
	position: relative;
}

.layout-slider-item h3{
	padding-bottom: 30px;
	position: relative;
}

.layout-slider-service p{
	float: left;
	width: 460px;
	word-wrap: break-word;	
}

.layout-section-partners{
	margin-bottom: 90px;
}

.layout-section-partners-items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.layout-about{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 85px;
}

.layout-about section:nth-child(1){
	flex-basis: 485px;
}

.layout-about section:nth-child(2){
	flex-basis: 560px;
}

.layout-section-about h2{
	margin-top: 47px;
	margin-bottom: 43px;
}

.layout-section-about p{
	margin-bottom: 30px;
}

.about-list{
	margin-top: 70px; 
	margin-bottom: 63px;
}

.about-list li{
	margin-bottom: 10px; 
}

.layout-section-contacts h2{
	margin-top: 47px;
	margin-bottom: 43px;
}

.layout-section-contacts p{
	margin-bottom: 52px;
}

.layout-footer{
	min-width: 1160px;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 65px;
}

.rows-menu{
	display: flex;
	height: 35px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.authorization-footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 480px;
	height: 100%;
    align-items: flex-start;
}

.authorization-footer li{
	display: flex;
	align-items: flex-start;
	height: 100%; 
	margin-right: 41px;
}

.authorization-footer li:last-child{
	margin-right: 0;
}

.authorization-footer a{
	line-height: 1;
}

.authorization-footer a:hover{
	opacity: 1;
	color: #ffffff;
}

.authorization-footer a:active{
	opacity: 0.3;
}

.layout-rows-menu{
	margin-bottom: 24px;
}

.layout-rows-contacts{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 55px;
}

.layout-footer-list{
	display: flex;
	flex-direction: row;
	width: 430px;
	margin-right: 40px;
	justify-content: space-between;
}

.layout-rows-links ul{
	display: flex;
	flex-direction: row;
}

.layout-rows-links{
	position: relative;
	display: flex;
	flex-direction: row;
/*	justify-content: flex-end;*/
}

.layout-link{
	margin-left: auto; 
	display: flex;
	width: 140px;
	padding-left: 22px;
    padding-top: 3px;
	flex-direction: row;
	justify-content: space-between;
	
}

.htmlacademy{
	margin-left: auto;
}
/*сетки конец*/

/*страница кактлога*/
.page-title{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1;
  	letter-spacing: 0.47px;
  	color: #000000;	
  	margin-top: 35px;
  	margin-bottom: 30px;
}

.bread-crumbs li{
	position: relative;
	margin-right: 45px; 
}

.bread-crumbs,
.bread-crumbs a{
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	line-height: 1;
  	letter-spacing: -0.3px;
  	color: rgba(0,0,0, 0.3);
}

.bread-crumbs a:hover,
.bread-crumbs a:focus{
	opacity: 0.6;
}

.bread-crumbs a:active{
	opacity: 0.1;
}

.bread-crumbs li:not(:last-child):after{
	display: block;
	content: url("../img/icon/nav-arrow.svg");
	position:absolute;
	top: 0;
	right: -22px;
	margin: auto 0;
}

.legend-filter{
	display: block;
	position: relative;
	width: 100%;
	padding: 22px 0px;
	margin-bottom: 67px;
	background-color: #d9d9d9;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 17px;
  	font-weight: 800;
  	line-height: 1.5;
  	letter-spacing: 3.1px;
  	color: #000000;	
  	text-transform: uppercase;
}

.legend-filter:before{
	z-index: -1;
	content: "";
	display: block;
	position: absolute;
	width: 9999px;
	height: 100%;
	top: 0;
	left: -9999px;
	background-color: #d9d9d9;
}

.filter b{
	display: block;
	padding-bottom: 20px;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 17px;
  	font-weight: 800;
  	line-height: 1.5;
  	letter-spacing: 0.9px;
  	color: #000000;	
}

.filter{
	position: relative;
	width: 265px;
}

.filter:before{
	z-index: -1;
	content: "";
	display: block;
	position: absolute;
	width: 9999px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #ebebeb;
}

.fieldset-price{
	width: 110px;
	border-top: 2px solid #000;
	padding-top: 10px;
	margin-bottom: 67px; 
}

.fieldset-color{
	width: 110px;
	border-top: 2px solid #000;
	padding-top: 10px;
	margin-bottom: 26px; 
}

.fieldset-bluetooth{
	width: 110px;
	border-top: 2px solid #000;
	padding-top: 10px;
	margin-bottom: 35px; 
}

.product-img img::hover{
	opacity: 0.7;
}

.product-new:after{
	content: "NEW";
	display: flex;
	position: absolute;
	width: 56px;
	height: 56px;
	justify-content: center;
	align-items: center;
	right: 28px;
	top: 28px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	color: rgba(0, 0, 0, 0.2);
}

.add-product{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

.product-img:hover .add-product{
	display: flex;
}

.btn-action-yellow{
	z-index: 2;
	display: block;
	position: relative;
	padding: 0 20px;
	border: none;
	background-color: unset;
	margin-bottom: 25px;

	text-align: center;
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;

  	cursor: pointer;
}

.btn-action-yellow:before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 5px;
	width: 100%;
	left: 0;
	top: 0; 
	bottom: 0;
	margin: auto;
	background-color: #f0c52e; 
}

.btn-action-yellow:hover:before{
	height: 100%;
	padding: 5px 0;
}

.btn-action-yellow:active{
	color: rgba(0, 0, 0, 0.3);
}

.btn-action-grey{
	display: block;
	position: relative;
	padding: 0 11px;
	border: none;
	background-color: unset;

	text-align: center;
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 13px;
  	font-weight: 300;
  	line-height: 1;
  	letter-spacing: 0.3px;
  	color: rgba(0, 0, 0, 0.5);
}

.btn-action-grey:hover,
.btn-action-grey:focus{
	 color: rgba(0, 0, 0, 1);
}

.btn-action-grey:active{
	 color: rgba(0, 0, 0, 0.6);
	 outline: none;
}

.btn-quest-yellow{
	z-index: 2;
	display: block;
	position: relative;
	padding: 0 40px;
	border: none;
	background-color: unset;
	margin-bottom: 25px;

	text-align: center;
	font-family: "Gilroy", "Arial Black", sans-serif;
	color: #000000;
	text-transform: uppercase;
  	font-size: 18px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.33;
  	letter-spacing: 3.6px;

  	cursor: pointer;
}

.btn-quest-yellow:before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 5px;
	width: 100%;
	left: 0;
	top: 0; 
	bottom: 0;
	margin: auto;
	background-color: #f0c52e; 
}

.btn-quest-yellow:hover:before{
	height: 100%;
	padding: 5px 0;
}

.btn-quest-yellow:active{
	color: rgba(0, 0, 0, 0.3);
}

.product-description{
	display: flex;
	justify-content: space-between;
}

.product-description a{
	max-width: 260px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
  	font-weight: 800;
  	line-height: 1.33;
  	letter-spacing: 0.2px;
  	color: rgb(0, 0, 0);
}

.product-description b{
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 300;
  	line-height: 1.5;
  	letter-spacing: 0.3px;
  	color: rgb(0, 0, 0);
}

.sort-panel{
	position: relative;
	margin-bottom: 35px;
}

.catalog-columns:before{
	z-index: -1;
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	min-width: 1160px;
	height: 70px;
	background-color: #ebebeb;
}

.sort-panel h3{
	padding: 23px 0px;
	margin-right: 57px;

	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 17px;
  	font-weight: 800;
  	line-height: 1.5;
  	letter-spacing: 3.1px;
  	color: #000000;	
  	text-transform: uppercase;
}

.sort-panel-list{
	padding: 17px 0px;
}

.sort-panel-list a{
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	letter-spacing: 0.4px;
  	color: rgba(0, 0, 0, 0.3);
  	line-height: 1.29;
}

.sort-panel-list a:hover,
.sort-panel-list a:focus{
	 color: rgba(0, 0, 0, 0.6);
}

.sort-panel-list a:active{
	 color: rgba(0, 0, 0, 1);
}

.sort-panel-list .active{
	color: rgba(0, 0, 0, 1);
}

.sort-up {
	display: inline;
	content: url("../img/icon/icon-up-dir.svg");
	margin-right: 20px;
	opacity: 0.2;
}

.sort-up:hover,
.sort-up:focus{
	opacity: 0.6;
}

.sort-up:active{
	opacity: 1;
}

.sort-down {
	display: inline;
	content: url("../img/icon/icon-down-dir.svg");
	opacity: 0.2;
}

.sort-down:hover,
.sort-down:focus{
	opacity: 0.6;
}

.sort-down:active{
	opacity: 1;
}

.sort-active{
	opacity: 1;
}

.catalog-pagination{
	padding: 23px 0;
	background-color: #ebebeb;
}

.catalog-pagination li:not(:first-child):not(:last-child){
	padding: 0 14px;	
}

.catalog-page{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-page:hover,
.catalog-page:focus{
	color: rgba(0, 0, 0, 0.6);
}

.catalog-page:active{
	color: rgba(0, 0, 0, 1);
}

.no-active{
	color: rgba(0, 0, 0, 1);
}

.no-active:hover,
.no-active:focus{
	color: rgba(0, 0, 0, 1);
}

.catalog-pagination a{
	font-family: "Gilroy", "Arial Black", sans-serif;
  	font-size: 16px;
  	font-weight: 800;
  	line-height: 1.5;
  	letter-spacing: 3.2px;	
  	text-transform: uppercase;
}

.range-filter{
	position: relative;
	margin-top: 14px;
}

.range-controls {
  position: relative;
  
  width: 200px;
}

.range-controls .scale {
  height: 2px;
  margin-top: 11px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 110px;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
	top: -10px;
  	left: -7px;
}

.range-controls .toggle-max {
	top: -10px;
  left: 106px;
}

.min-price{
	position: absolute;
	width: 60px;
	top: 10px;
	left: -18px;
	text-align: center;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	color: rgba(0, 0, 0, 0.2);
}

.max-price{
	position: absolute;
	width: 60px;
	top: 10px;
	left: -29px;
	text-align: center;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	color: rgba(0, 0, 0, 0.2);
}

.list-color{
	margin-top: 2px;
}

.list-color-item input{
	display: none;
}

.list-color-item{
	padding-left: 37px;
	margin-bottom: 10px;
}

.list-color-item label{
	position: relative;
	font-family: "OpenSans", "Arial", sans-serif;
  	font-size: 14px;
  	font-weight: 300;
  	letter-spacing: 0.14px;
  	color: #000000;
}

.color-input-checkbox:hover + label,
.color-input-checkbox:focus + label{
	opacity: 0.6;
 	cursor: pointer;
}

.color-input-checkbox:disabled + label{
 	 opacity: 0.25;
}

.color-input-checkbox + label:before {
  	content: url("../img/icon/checkbox-off.svg");
  	position: absolute;
  	left: -40px;
  	top: -5px;
  	width: 19px;
  	height: 19px;
 }

 .color-input-checkbox:checked + label:after{
  	content: url("../img/icon/checkbox-on.svg");
  	position: absolute;
  	left: -40px;
  	top: -5px;
  	width: 19px;
  	height: 19px;
}

.list-bluetooth{
	margin-top: 2px;
}

.list-bluetooth-item input{
	display: none;
}

.list-bluetooth-item{
	padding-left: 37px;
	margin-bottom: 10px;
}

.list-bluetooth-item label{
	position: relative;
	font-family: "OpenSans", "Arial", sans-serif;
  	font-size: 14px;
  	font-weight: 300;
  	letter-spacing: 0.14px;
  	color: #000000;
}

.bluetooth-input-checkbox:hover + label,
.bluetooth-input-checkbox:focus + label{
	opacity: 0.6;
 	cursor: pointer;
}

.bluetooth-input-checkbox:disabled + label{
 	 opacity: 0.25;
}

.bluetooth-input-checkbox + label:before {
  	content: url("../img/icon/radio-off.svg");
  	position: absolute;
  	left: -40px;
  	top: -5px;
  	width: 19px;
  	height: 19px;
 }

 .bluetooth-input-checkbox:checked + label:after{
  	content: url("../img/icon/radio-on.svg");
  	position: absolute;
  	left: -40px;
  	top: -5px;
  	width: 19px;
  	height: 19px;
}

.catalog-previous-button{
	color: rgba(0, 0, 0, 1);
	padding: 28px 30px ;	
}

.catalog-previous-button:hover{
	cursor: pointer;	
	background-color: #d9d9d9; 
}

.catalog-previous-button:active{	
	background-color: #d9d9d9; 
	color: rgba(0, 0, 0, 0.3);
}

.catalog-next-button{
	color: rgba(0, 0, 0, 1);
	padding: 28px 30px ;	
}

.catalog-next-button:hover{
	cursor: pointer;	
	background-color: #d9d9d9; 
}

.catalog-next-button:active{	
	background-color: #d9d9d9; 
	color: rgba(0, 0, 0, 0.3);
}

/*разметка каталога*/
.layout-page-title{
    padding: 0 60px;
    margin-bottom: 53px;
}

.layout-bread-crumbs{
	display: flex;
	flex-direction: row;
}

.layout-catalog-columns{
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
}

.layout-catalog-item-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 75px;
}

.layout-catalog{
	display: flex;
	flex-direction: column;
}

.layout-filter{
	max-width: 265px;
}

.layout-sort-panel{
	display: flex;
	flex-direction: row;
}

.layout-sort-panel-list{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.layout-sort-panel-list li{
	margin-right: 30px;
}

.layout-sort-panel-list li:nth-last-child(2){
	margin-left: auto;
	margin-right: 0;
}

.layout-sort-panel-list li:nth-last-child(1){
	margin-right: 0;
}

.layout-catalog-goods{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 20px;
}

.layout-catalog-goods li{
	margin-top: 33px;
	margin-bottom: 12px;
}

.layout-product-img{
	display: block;
	position: relative;
	width: 360px;
	height: 380px;
	margin-bottom: 34px;
}

.layout-product-img div:hover,
.layout-product-img div:focus{
	 background-color: rgba(238, 238, 238, 0.6);
}

.layout-product-img div:active{
	 background-color: rgba(238, 238, 238, 0.6);
}

.layout-catalog-pagination{
	position: relative;
	display: flex;
	justify-content: center;
}

.layout-catalog-pagination li:first-child {
	min-width: 100px;
	margin-right: auto;
}

.layout-catalog-pagination li:last-child {
	min-width: 100px;
	margin-left: auto;
	text-align: right;
}

.visually-hidden{
	display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.modal-show {
  	display: block;

  	animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.slider-show {
  	display: flex;
}